<!--The content below is only a placeholder and can be replaced.-->

<header class="d-flex justify-content-between align-items-end">
  <h2 style="color: whitesmoke">Logo</h2>
  <!--<a href="https://www2.deloitte.com/ua/uk.html" target="_blank">
    <img width="125" alt="Angular Logo" src="../assets/deloitte.svg">
  </a>-->
  <div id="account" class="d-inline-flex">
    <!--<img src="//:0">-->
    <div></div>
    <b>Amigo</b>
  </div>
</header>

<div id="content">
  <div id="content-nav" class="d-flex justify-content-between">
    <div>
      <h5>Project name very long project name</h5>
      <i class="far fa-thumbs-down"></i>
      <i class="far fa-user"></i>
      <i class="far fa-calendar-alt"></i>
    </div>
    <div class="buttons-group">
      <button type="button" class="btn btn-info btn-sm">Save draft</button>
      <button type="button" class="btn btn-info btn-sm">Export</button>
      <button type="button" class="btn btn-info btn-sm">Add project</button>
      <button type="button" class="btn btn-info btn-sm">Compare projects</button>
    </div>
  </div>
  <div id="content-body">
    <div id="content-body-summary" class="d-flex justify-content-between">
      <div id="summary" class="card">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
      <div class="card results">
        <div class="card-body">
          Status results
        </div>
      </div>
      <div class="card results">
        <div class="card-body">
          Step results
        </div>
      </div>
    </div>
    <div id="content-body-company">
      <i class="fas fa-pen"></i>
      <i class="fas fa-times"></i>
      <i class="fas fa-exchange-alt"></i>
      <i class="fas fa-undo-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-search"></i>
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
</div>


<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->

