<!--The content below is only a placeholder and can be replaced.-->

<!--<header class="d-flex justify-content-between align-items-end">-->
<header>
  <div class="row align-items-end">
    <div class="col">
      <h2 style="color: whitesmoke">Logo</h2>
      <!--<a href="https://www2.deloitte.com/ua/uk.html" target="_blank">
        <img width="125" alt="Angular Logo" src="../assets/deloitte.svg">
      </a>-->
    </div>
    <div class="col-auto">
      <div id="account" class="d-inline-flex">
        <div>
          <!--<img src="//:0">-->
        </div>
        <b>Amigo</b>
      </div>
    </div>
  </div>

</header>

<div id="content">
  <div id="content-nav">
    <div class="row">
      <div class="col-md-6">
        <h5>Project name very long project name</h5>
        <div class="row" id="info-icons">
          <div class="col-auto">
            <i class="far fa-thumbs-down"></i>
            <span>Rejected</span>
            <!--<i class="far fa-thumbs-up"></i> <span>Approved</span>-->
          </div>
          <div class="col-auto">
            <i class="far fa-user"></i>
            <span>Amigo</span>
          </div>
          <div class="col-auto">
            <i class="far fa-calendar-alt"></i>
            <span>12.10.2017</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 buttons-group">
        <button type="button" class="btn btn-info btn-sm">Save draft</button>
        <button type="button" class="btn btn-info btn-sm">Export</button>
        <button type="button" class="btn btn-info btn-sm">Add project</button>
        <button type="button" class="btn btn-info btn-sm">Compare projects</button>
      </div>
    </div>
    <div class="row">
      <form class="form-inline">
        <div class="input-group col-md-4">
          <input class="form-control py-2 border-right-0 border" placeholder="Search" type="search" id="example-search-input">
          <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        </div>

        <label class="text-muted mr-2" for="step-results">Step results</label>
        <select class="custom-select my-1 mr-sm-2" id="step-results">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <button type="button" class="btn btn-link text-info">Clear filters</button>
      </form>
    </div>
    <div class="row">
      <div class="col">
        <small class="text-muted">Shown 15 of 358</small>
      </div>
    </div>
  </div>
  <div id="content-body">
    <!--<div id="content-body-summary" class="d-flex justify-content-between">-->
    <div id="content-body-summary" class="row">
      <div class="col-md-6">
        <div id="summary" class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card results">
          <div class="card-body">
            Status results
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card results">
          <div class="card-body">
            Step results
          </div>
        </div>
      </div>
    </div>

    <div class="row text-muted">
      <div class="col">Company info</div>
      <div class="col">Summary</div>
      <div class="col">URL</div>
      <div class="col">Cross-URL</div>
    </div>

    <div class="card">

      <div class="row text-muted"> <!-- ngIf -->
        <div class="col">Company info</div>
        <div class="col">Summary</div>
        <div class="col">URL</div>
        <div class="col">Cross-URL</div>
      </div>

      <div class="row">
        <div class="col">
          <h5 class="text-info">BMW VERTRIEBS GMBH SP.Z O.O. ODDZIAL W POLSCE</h5>
          <p>Text text text text tex text textex tex tex</p>
          <div class="circle color1"></div>
          <div class="circle color2"></div>

          <p>Text text text text tex text textex tex tex tion</p>
        </div>
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean odio sapien, ultrices laoreet risus in, elementum volutpat sapien.
            Nulla facilisi. Suspendisse libero justo, luctus in eros a, tempor sodales orci.
            Praesent ornare augue in neque dictum, non venenatis mauris consectetur.
            Donec porta elementum feugiat.
          </p>
        </div>
        <div class="col">URL</div>
        <div class="col">Cross-URL</div>
      </div>
    </div>

    <div id="content-body-company">
      <i class="fas fa-pen"></i>
      <i class="fas fa-times"></i>
      <i class="fas fa-exchange-alt"></i>
      <i class="fas fa-undo-alt"></i>
      <i class="fas fa-check"></i>
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
</div>


<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->

